<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Mobile Web-app fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Meta tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <!--Title-->
    <title>Not Found | Lager - eCommerce HTML Template</title>

    <!--CSS bundle -->
    {% include 'landing_page/snippets/base_css.html' %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="page-loader"></div>

        <!-- ========================  404 ======================== -->

        <section class="not-found">
            <div class="container">
                <h1 class="title" data-title="Page not found!">404</h1>
                <div class="h4 subtitle">Sorry! Page not found.</div>
                <p>The requested URL was not found on this server. That’s all we know.</p>
                <p>Click <a href="index.html">here</a> to get to the front page? </p>
            </div>
        </section>


    <!--JS files-->
 {% include 'landing_page/snippets/base_js.html' %}
</body>

</html>